@import url(https://fonts.google.com/);
//definim variabile pentru culori
$theme-colors: (
    primary:#227ac1,
    nav: #6fc0e6,
    secondary:white,
    footer:#060832,
);
//definim dimensiunea fontului
$base-font-size: 1em;
//variabila pt dimensiune desktop
$desktop: 1000px;

@function color($color-type) {
    //functie pt setarea culorii
    @return map-get($theme-colors, $color-type);
}
//mixin pt dimensiunea ecranului
//daca ecranul>1000px 
@mixin desktop {
    @media(min-width:#{$desktop}) {
        @content;
    }
}

body {
    background-color: color(primary);
    color: color(secondary);
    font-size: $base-font-size;
    font-family: 'Nunito', Arial, sans-serif;


}

main{
    width: 100%;
    background-color: color(primary);
    color: color(secondary);
    padding: 10px;
    margin-top: 20px;

    h1 {
        font-size: $base-font-size*1.5;
        text-align: center;
    }

    @include desktop {//adaugam mixim desktop pt a muta textul la dreapta
        display: flex;
        margin-left: auto;
        padding: 10px 10px;
        text-align: center;
    }

}

nav {
    font-size: 1.8em;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    background-color: color(nav);


    ul {
        list-style-type: none;
        padding: 10px;

        li {
            display: inline;
            padding: 10px;
            margin: 15px 0px;

            @include desktop {
                display: block;
                padding: 5px;
            }

            a {
                text-decoration: none;
                color: white;
                padding: 10px 15px;
                border-radius: 5px;
                transition: background-color 0.3s ease, border-radius 0.3s ease;

            }

            &:hover {
                background-color: color(primary);
                border-radius: 10px;
            }
        }
    }


}


footer {
    text-align: center;
    background-color: color(footer);
    padding: 10px;
    margin-top: 20px;
    width: 97%;
    font-size: 14px;
}